nav {
    margin: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    height:auto;
    padding: 20px;
}

li {
    flex: 1 0 50%;
    font-size: 16px;
}

section {
    justify-content: center;
    text-align: center;
}

.intro h1 {
    margin-top: 20px;
    font-size: 40px;
}

section p {
    width: 100%;
    font-size: 16px;
    margin: 10px auto;
}

button {
    padding: 30px;
    font-size: 16px;
    border-radius: 30px;
    width: 40%;
    height: 50%;
    margin: 10px;
    padding: 0px;
    text-align: center;
}

button:hover {
    background-color: #953553;
    border-color: #bf95d4;
}

h2 {
    font-size: 15px;
    margin-bottom: 10px;
}

.high-score {
    text-align: start;
}

.timer {
    text-align: end;
}

.into {
    display: block;
}

.quiz {
    display: none;
    margin: 0 auto;
    max-width: 80%;
}

.startButton {
    text-align:center;
}

.sectionEl {
	display: block;
}

.h1El {
	margin: 0 auto;
	font-size: 15px;
	text-align: center;
}
.h2El {
	margin: 1rem 0;
	font-size: 15px;
	text-align: center;
}

.labelEl {
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
}

.inputEl {
	padding: 5px;
}

.sectionEl .buttonEl {
	padding: 0;
	font-size: 17px;
	width: 10px;
	height: 10px;
	text-align: center;
	margin-left: 10px;
}

.sectionEl .buttonEl {
	padding: 0;
	font-size: 15px;
	width: 50%;
	height: 30%;
	text-align: center;
	margin-left: 10px;
}

.wrong {
	width: 80%;
	margin: 1px auto;
	font-size: 20px;
	color:#bf95d4;
}

.linkBack {
	font-size: 20px;
	text-decoration: none;
}

.highScore {
	color:#bf95d4;
	font-size: 25px;
	margin-bottom: 20px;
}

.nameScore {
	font-size: 20px;
}