body {
    background-color: lightcyan;
}
nav {
    margin: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    height:auto;
    padding: 20px;
}

li {
    flex: 1 0 50%;
    font-size: 16px;
}

section {
    justify-content: center;
    text-align: center;
}

.intro h1 {
    font-family: fantasy;
    color: #bf95d4;
    margin: 20px auto 10px auto;
    font-size: 55px;
}

section p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #953553;
    width: 100%;
    font-size: 16px;
    margin: 5px auto 20px auto;
}

button {
    color: palevioletred;
    background-color: antiquewhite;
    padding: 30px;
    font-size: 16px;
    border-radius: 30px;
    width: 40%;
    height: 50%;
    margin: 10px;
    padding: 0px;
    text-align: center;
}

button:hover {
    background-color: #953553;
    border-color: #bf95d4;
}

h2 {
    font-size: 15px;
    margin-bottom: 10px;
}

.high-score {
    text-align: start;
}

.timer {
    color: #bf95d4;
    text-align: end;
}

.intro {
    display: block;
}

.quiz {
    display: none;
    margin: 0 auto;
    max-width: 80%;
}

.startButton {
    text-align:center;
}

.wrong {
	width: 80%;
	margin: 1px auto;
	font-size: 20px;
	color:#bf95d4;
}

.highscore {
    display: none;
}
